
@{
    ViewData["Title"] = "EmptyCart";
}
<div class="d-flex justify-content-center flex-wrap ">

<img class="cen" src="~/Images/Shopping-Cart.png" alt="icon of shopping cart"/>
<h1 class="text-center">Looks like you haven't added any items to your cart yet</h1>
</div>


