@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "OrderSummary";
}

<h1 class="text-center">Thank You!</h1>



<div class="">
    <h4 class="text-center">your order is being processed</h4>
    <hr />
    <div class="d-flex justify-content-center">
        <img class="center-img" src="~/Images/Successful-Shopping-Bag.png" />
    </div>
    @* figure out how to display order summary here
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrderId)
            </dt>
            <dd class="col-sm-10">
               Total: $@ViewBag.TotalPrice
            </dd>
        </dl>
    *@


</div>

