
@{
    ViewData["Title"] = "Unauthorized";
}

        <h1 class="text-center">Ooops! Something went wrong.</h1>
        <p class="text-center">Please login to view this page</p>
    
        <div class="d-flex justify-content-center">
            <img class="cen" src="~/Images/Workflows.png" alt="icon of shopping cart" />
        </div>



